<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>hive权限管理</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/dashboard.css" rel="stylesheet">

  </head>

  <body>
    <!--导航栏-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://brec02:8443/index">azkaban</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <!--input type="text" class="form-control" placeholder="Search..." -->
          </form>
        </div>
      </div>
    </nav>

    <!--侧边栏-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/hive_index">hive权限管理</a></li>
            <!--li><a href="#" onclick="document.list_form.action='/job_upload';$('form').submit()">上传Job</a></li-->
          </ul>
        </div>
        
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!--查询-->
        <h2 class="sub-header">hive权限元素</h2>
          <div class="row">
          </div>
	<!--列表-->
          <div class="table-responsive">
          <div class="panel panel-success">
            <div class="panel-heading">角色</div>
            {% for index,role in enumerate(hive_meta.role_list) %} 
              {% if index%3==0 %}
              <div class="btn-group btn-group-justified" role="group" aria-label="role group {{ index }}">
              {% end %}
                 <a href="/hive_index?item_type=ROLE&item_value={{ role }}" class="btn btn-default" role="button">{{ role }}</a>
              {% if index%3==2 or index==(len(hive_meta.role_list)-1) %}
              </div>
              {% end %}
            {% end %}
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">用户</div>
            {% for index,user in enumerate(hive_meta.user_list) %}
              {% if index%3==0 %}
              <div class="btn-group btn-group-justified" role="group" aria-label="user group {{ index }}">
              {% end %}
              <a href="/hive_index?item_type=USER&item_value={{ user }}" class="btn btn-default" role="button">{{ user }}</a>
              {% if index%3==2 or index==(len(hive_meta.user_list)-1) %}
              </div>
              {% end %}
              {% end %}
            </div>
          </div>
          <div class="panel panel-warning">
            <div class="panel-heading">库</div>
            {% for index,db in enumerate(hive_meta.db_list) %}
              {% if index%3==0 %}
              <div class="btn-group btn-group-justified" role="group" aria-label="db group {{ index }}">
              {% end %}
              <a href="/hive_index?item_type=DB&item_value={{ db }}" class="btn btn-default" role="button">{{ db }}</a>
              {% if index%3==2 or index==(len(hive_meta.db_list)-1) %}
              </div>
              {% end %}
              {% end %}
            </div>
          </div>
          <!--div class="panel panel-danger">...</div-->
          </div>
      </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
  </body>
</html>
